@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<div class="jumbotron">
  <h2>Add a new animal</h2>
</div>

<div class="form">
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.Type)
      @Html.TextBoxFor(model => model.Type)
      <br>
      <br>
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
      <br>
      <br>
      @Html.LabelFor(model => model.Gender)
      @Html.TextBoxFor(model => model.Gender)
      <br>
      <br>
      @Html.LabelFor(model => model.DateAdmittance)
      @Html.TextBoxFor(model => model.DateAdmittance, new { @type = "date"})
      <br>
      <br>
      @Html.LabelFor(model => model.Breed)
      @Html.TextBoxFor(model => model.Breed)
      <br>
      <br>
      <input type="submit" value="Add new animal" class="btn btn-default" />
  }
</div>

<p>@Html.ActionLink("Show all animals", "Index")</p>