@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<div class="jumbotron">
  <h2>Edit an Animal</h2>
</div>

<h4>Edit this animal's details: AnimalId @Html.DisplayFor(model => model.AnimalId)</h4>

<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AnimalId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)
    <br>
    <br>
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    <br>
    @Html.LabelFor(model => model.Gender)
    @Html.EditorFor(model => model.Gender)
    <br>
    <br>
    @Html.LabelFor(model => model.DateAdmittance)
    @Html.EditorFor(model => model.DateAdmittance, new { @type = "date"})
    <br>
    <br>
    @Html.LabelFor(model => model.Breed)
    @Html.EditorFor(model => model.Breed)    
    
    <input type="submit" value="Save" />
  }
</div>

<p>@Html.ActionLink("Back to list", "Index")</p>