@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<div class="jumbotron">
  <h1>Animals</h1>
</div>

@if (@Model.Count == 0)
{
  <h3>No animals have been added yet!</h3>
} 


<div class="tablename">
<h2>List of Animals</h2> 
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Name</th>
  </tr>
  
  @foreach (Animal animal in Model)
  {
    <tr>
      <td>@Html.ActionLink($"{animal.AnimalId} ","Details", new { id = animal.AnimalId })</td>
      <td>@Html.ActionLink($"{animal.Type} ","Details", new { id = animal.AnimalId })</td>
      <td>@Html.ActionLink($"{animal.Name} ","Details", new { id = animal.AnimalId })</td>
    </tr>
  }
</table>

<div class="links4">
  <div class="link">
    <p>@Html.ActionLink("Add new animal", "Create")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Sort animals by type", "SortByType")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Sort animals by date of admittance", "SortByDate")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>