@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model AnimalShelter.Models.Animal;

<div class="form">
  @using (Html.BeginForm("SearchResults", "Animals", FormMethod.Post))
  {
    @* @Html.RadioButtonFor(a => a.Search,"AnimalId")
    @Html.RadioButtonFor(a => a.Search,"Type") 
    @Html.RadioButtonFor(a => a.Search,"Name") 
    @Html.RadioButtonFor(a => a.Search,"Gender") 
    @Html.RadioButtonFor(a => a.Search,"DateAdmittance") 
    @Html.RadioButtonFor(a => a.Search,"Breed")    *@
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)

    @* @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name) *@
    <input type="submit" value="Find animal" class="btn btn-default" />
  }

<div class="links">
  <div class="link">
    <p>@Html.ActionLink("Add new animal", "Create")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("List of Animals", "Index")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>   