@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model AnimalShelter.Models.Animal;

<div class="form">
  @using (Html.BeginForm("SearchResults", "Animals", FormMethod.Post))
  {
    @Html.RadioButtonFor(Model => Model.Property,"AnimalId")
    @Html.Label("By ID")
    <br>
    @Html.RadioButtonFor(Model => Model.Property,"Type") 
    @Html.Label("By Type")
    <br>
    @Html.RadioButtonFor(Model => Model.Property,"Name") 
    @Html.Label("By Name")
    <br>
    @Html.RadioButtonFor(Model => Model.Property,"Gender") 
    @Html.Label("By Gender")
    <br>
    @Html.RadioButtonFor(Model => Model.Property,"DateAdmittance") 
    @Html.Label("By Date (MM/DD/YYYY)")
    <br>
    @Html.RadioButtonFor(Model => Model.Property,"Breed") 
    @Html.Label("By Breed")  
    <br>
    @Html.Label("Search Criteria")
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Find animal" class="btn btn-default" />
  }

<div class="links">
  <div class="link">
    <p>@Html.ActionLink("Add new animal", "Create")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("List of Animals", "Index")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>   